<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product admin</title>

    <link href="bootstrap.min.css" rel="stylesheet">


  </head>
  <body>
  <div ng-controller="CreateProductController">
    <div class="container">
      <div class="page-header">
        <h3>Add product</h3>
      </div>
      
      <form role="form" ng-submit="AddProduct(Product)" >
    	  <div class="form-group">
    	    <label for="exampleProductName">Product name</label>
    	    <input type="text" class="form-control" id="exampleProductName" placeholder="Product name" ng-model="Product.Name" required>
    	  </div>
    	  <div class="form-group">
    	    <label for="examplePrice">Price</label>
    	    <input type="text" class="form-control" id="examplePrice" ng-model="Product.Price" placeholder="Price in €" required>
    	  </div>
    	  
    	  <button type="submit" class="btn btn-default">Create</button>
    	</form>
      



      <div class="page-header">
        <h3>Product list</h3>
      </div>

      <table class="table table-striped">
      <thead>
        <tr>
          <th>Product name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in products" ng-include="'productItem.html'">          
         
        </tr>
		
      </tbody>
    </table>
      

    </div>

    </div>
    <script src="angular.js"></script>
    <script src="angular-route.js"></script>
    <script src="sugar.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>